/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/
body {
    background-color: rgb(222, 237, 238);
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
header {
    background-color: white;
    padding: 0 20px;
    height: 100px;
    line-height: 100px;
}

.logo {
    vertical-align: middle;
}

.logo-title {
    display: inline;
    vertical-align: middle;
}